﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MyUserControl.ascx.cs" Inherits="FinalProjectN01288606.Usercontrols.MyUserControl" %>
<asp:SqlDataSource 
    runat="server" 
    ConnectionString="<%$ ConnectionStrings:final_sql_con %>"
    ID="pages_select">
    </asp:SqlDataSource>

<ul runat ="server" class="menu_nav" id="page_container"></ul>