﻿#header{
    margin-bottom:150px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.menu_nav li{
    display:inline-block;
    list-style:none;
    font-size:medium;
}
.menu_nav a{
    color:antiquewhite;
    text-decoration:none;
    padding: 15px;
    margin-top:15px;
}
h3 {
    font-size: 5em;
    border: 1px solid black;
    background-color: #00bfff;
}
p{
    font-size:2em;
}
.view_page_con{
    display:inline-block;
    list-style:none;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.tablerow {
    transition: background 500ms;
    border-bottom: 1px solid grey;
}

    .tablerow:hover {
        background: #dfe6e9;
    }

td, th {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

    td:first-child {
        text-align: left;
    }
/*.image{
    width:1300px;
} */
